@import url("https://fonts.googleapis.com/css?family=Raleway|Titan+One");

/* 
font-family: 'Titan One', cursive;
font-family: 'Raleway', sans-serif;
*/

body {
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Raleway", sans-serif;
}

.navbar,
.jumbotron,
a.thumbnail {
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

a.thumbnail:hover {
  background: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: black;
  font-weight: 1000;
  background: whitesmoke;
}

a.navbar-brand {
  background: -webkit-linear-gradient(left, #fdd195, #71e1f4);
  font-weight: 1000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.navbar-brand:hover {
  background: -webkit-linear-gradient(left, #71e1f4, #fdd195);
  font-weight: 1000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: black;
}

.breadcrumb {
  background: rgba(0, 0, 0, 0.5);
}

div.list-group > .list-group-item {
  background: rgba(0, 0, 0, 0.5);
}

span.badge,
span.label-default {
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

dataset {
  color: black;
  border-bottom: 1px whitesmoke solid;
}

.media-body > p {
  color: black;
}

div.panel,
.panel-default > .panel-heading {
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

/* table>tbody>tr>th, .table>tbody>tr>th,
table>tbody>tr>td, .table>tbody>tr>td {
  background: rgba(0, 0, 0, 0.5) 
  color: whitesmoke;
} */

.table-striped > tbody > tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.5);
}

.table-striped > tbody > tr:nth-of-type(even),
.table-striped > tbody > tr:nth-of-type(even) > td > a {
  color: black;
}

div > h1,
h1 > span,
h1 + p,
h2 {
  color: black;
}

.jumbotron > h1 + p {
  color: whitesmoke;
}

.jumbotron > h1 {
  font-family: "Titan One", cursive;
  font-size: 4.2rem;
  background: -webkit-linear-gradient(left, #fdd195, #71e1f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: transition-text 2s ease-in-out infinite;
}

@keyframes transition-text {
  from {
    background: -webkit-linear-gradient(left, #fdd195, #71e1f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background: -webkit-linear-gradient(left, #71e1f4, #fdd195);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
}

.dropdown-menu > li > a {
  color: whitesmoke;
  cursor: pointer;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: whitesmoke;
  color: black;
}

.nav-tabs > li:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: whitesmoke;
  color: black;
  border-color: black;
}

.nav-tabs > li > a {
  color: black;
}

.nav-tabs > li > a:hover {
  border: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: whitesmoke;
  border: none;
  color: black;
}

.well {
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

a.btn-default {
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

#general label,
#general .help-block,
#authentication label,
#authentication .help-block,
#theme {
  color: black;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #df691a;
  border: none;
}

i.fa:hover,
i.fa:focus,
i.fa:active {
  mix-blend-mode: multiply;
}
